.title {
  color: #db7734; /* Blue color */
  text-align: center;
  font-family: 'Georgia', serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Optional shadow for a polished look */
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

nav {
  background-color: #007bff;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

nav button {
  background-color: white;
  color: #007bff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
}

nav button:hover {
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column; /* Arrange children in a column */
  min-height: 75vh;
  max-width: 800px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #007bff;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

.chart-container {
  margin-top: 20px;
}

/* App.css */

